* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff3e0;
    color: #333;
    line-height: 1.6;
}

.header {
    background-color: #ff9800;
    color: white;
    text-align: left;
    padding: 1em 0;
}
a{
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color:red;
}
.upime{
    float: right;
    padding: 3px;
}
.storitveniki_prikaz{
    border: 1px black dotted;
}
.content{
    width: 85%;
    margin: 10px;
    float: left;
    border: 3px black solid;
    background-color: white;
}
.settings{
    width: 50px;
    height: 50px;
}