* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #ff9800;
    color: white;
    text-align: left;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff3e0;
    color: #333;
    line-height: 1.6;
}
.naslov{
    padding: 5px;
}